body{
    margin:0px;
    padding:0px;
    font-family: Verdana;
}
header{
    background-color:aliceblue;
    margin:0%;

}
.name{
    font-size: medium;
    display:inline-block;
    margin-right: 45%;
    padding:1%;
}
.header-links{
    padding:2% ;
}
.left-side{
    float:left;
}
h2{
    font-size: medium;
    margin:5%;
}